.wrapper {
  position: relative;
  display: inline-block;
}

.input {
  background-color: var(--white);
  border-radius: 5px;
  border: none;
  padding: 7px 15px;
  color: var(--black);
  outline-color: var(--primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-family);
}

.input::placeholder {
  color: var(--gray);
}

.iconWrapper {
  background-color: var(--primary);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  outline-color: var(--gray-light);
  border: none;
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
}
