.wrapper {
  grid-template-columns: minmax(320px, 1fr);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "sidebar"
    "footer";
  gap: 10px;
}

.skipLink {
  display: block;
  position: fixed;
  left: 100px;
  top: 0;
  overflow: hidden;
  height: 0;
  background-color: var(--primary);
  color: var(--white);
}

.displayed {
  height: auto;
}

.header {
  grid-area: header;
}

.sidebar {
  display: none;
  grid-area: sidebar;
}

.body {
  padding: 15px;
  outline: none;
}

@media (min-width: 765px) {
  .wrapper {
    grid-template-columns: auto 280px minmax(320px, 1200px) auto;
    gap: 40px 30px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      ". header header ."
      ". sidebar body ."
      "footer footer footer footer";
  }

  .sidebar {
    display: block;
  }

  .body {
    padding: 0px;
    grid-area: body;
  }

  .footer {
    height: 72px;
    grid-area: footer;
  }
}
