html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: var(--main-background);
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

:root {
  --black: #3b434e;
  --white: white;
  --primary: #7653fc;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --main-background: #f5f6f8;
  --font-family: "Noto Sans", sans-serif;
}
