.menu {
}

.fLevelWrapper {
  list-style: none;
  padding: 0;
}

.fLevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.fLevelActive,
.fLevel:hover {
  color: var(--primary);
}

.fLevelActive svg,
.fLevel:hover svg {
  fill: var(--primary);
}

.sLevelWrapper {
  margin-top: 15px;
  margin-left: 12px;
  border-left: 1px solid #dfdfdf;
  list-style: none;
  padding: 0 0 0 16px;
}

.secondLevel {
  margin-bottom: 10px;
  display: grid;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--gray-dark);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  background: none;
  border: none;
}

.sLevel {
  overflow: hidden;
  list-style: none;
  padding: 0 0 0 16px;
}

.tLevel {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--gray-dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  outline-offset: -1px;
}

.tLevelActive,
.tLevel:hover {
  color: var(--primary);
}
